body{

}
em{
    color: rgb(95, 167, 167);
}
#categorie1{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#nouveau{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.titre{
    flex: 2;
}
.article{
    flex: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}
.sexes{
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    transition: transform 0.3s;
}
.sexes:hover{
  transform: translateY(-5px);
}
a{
    text-decoration: none;
    color: black;
}
.fem{
    background-image: url(femmes.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.hom{
    background-image: url(hommes.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.enf{
    background-image: url(enfants.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.mix{
     background-image: url(mixtes.webp);
     background-repeat: no-repeat;
     background-size: cover;
}
.articles{
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    transition: transform 0.3s;
}
.articles:hover{
  transform: translateY(-5px);
}
.sac{
    background-image: url(sac.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.foulard{
    background-image: url(foulard.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.sandales{
    background-image: url(sandales.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.combi{
    background-image: url(combi.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.costumes{
    background-image: url(costumes.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.blouson{
    background-image: url(blouson.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
